:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #FFFCF2;
}

#main-content {
	display: flex;
	padding: 2em;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	justify-content: center;
}
