@import "theme";

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto Slab", "Courier New", sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	color: map-get($accent-colors, 500);
	transition: all 300ms;

	&:hover {
		color: map-get($accent-colors, 700);
	}
}

.mat-mdc-no-data-row {
	td {
		padding: 17px;
	}
}
