@use '@angular/material' as mat;

html {
	height: 100%;
	@include mat.theme(
		(
			color: (
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette,
			),
			typography: Roboto Slab,
			density: 0,
		)
	);
}

body {
	color-scheme: light;
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);

	margin: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
}

a {
	//color: map-get($accent-colors, 500);
	transition: all 300ms;

	&:hover {
		//color: map-get($accent-colors, 700);
	}
}

.mat-mdc-no-data-row {
	td {
		padding: 17px;
	}
}


