<div class="table-header">
	<div class="actions">
		<button mat-raised-button (click)="onAdd()">
			<mat-icon>add</mat-icon>
			Add site
		</button>

		<button mat-raised-button [disabled]="isEmptySelection" (click)="onDelete()">
			<mat-icon>delete</mat-icon>
			Delete site(s)
		</button>
	</div>

	<mat-form-field class="filter">
		<mat-label>Filter</mat-label>
		<input matInput (keyup)="applyFilter($event)" #input>
	</mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
	<ng-container matColumnDef="select">
		<th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? toggleAllRows() : null"
			              [checked]="selection.hasValue() && isAllSelected"
			              [indeterminate]="selection.hasValue() && !isAllSelected">
			</mat-checkbox>
		</th>
		<td mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()"
			              (change)="$event ? selection.toggle(row) : null"
			              [checked]="selection.isSelected(row)">
			</mat-checkbox>
		</td>
	</ng-container>

	<ng-container matColumnDef="site">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Site</th>
		<td mat-cell *matCellDef="let row">
			<div class="site">
				<span>{{ row.site }}</span>
				<a mat-icon-button [href]="row.site" target="_blank" (click)="$event.stopPropagation()">
					<mat-icon>open_in_new</mat-icon>
				</a>
			</div>
		</td>
	</ng-container>

	<ng-container matColumnDef="enabled">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Enabled</th>
		<td mat-cell *matCellDef="let row">
			{{row.enabled ? "Yes" : "No"}}
		</td>
	</ng-container>

	<ng-container matColumnDef="lastCheck">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Check</th>
		<td mat-cell *matCellDef="let row">
			<ng-template [ngIf]="row.last" [ngIfElse]="noDate">{{ row.last.time | date : "short" }}</ng-template>
			<ng-template #noDate>Never</ng-template>
		</td>
	</ng-container>

	<ng-container matColumnDef="lastStatus">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Status</th>
		<td mat-cell *matCellDef="let row">
			@switch (row.last?.siteState) {
				@case (stateValues.Open) {
					<span class="error">Polling Failed</span>
				}
				@case (stateValues.Polled) {
					<span class="error">Change Detection Failed</span>
				}
				@case (stateValues.Unchanged) {
					<span class="unchanged">Unchanged</span>
				}
				@case (stateValues.Changed) {
					<span class="changed">Changed</span>
				}
				@default {
					N/A
				}
			}
		</td>
	</ng-container>

	<ng-container matColumnDef="nextCheck">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Next Check</th>
		<td mat-cell *matCellDef="let row">
			{{ getNext(row) | date: 'short' }}
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row)" [class.disabled]="!row.enabled"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="3" *ngIf="!itemsExist">Loading data...</td>
		<td class="mat-cell" colspan="3" *ngIf="itemsExist">No data matching the filter "{{ input.value }}"</td>
	</tr>
</table>
