@import "theme";

:host {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.table-header {
	width: 100%;

	.actions {
		display: flex;
		gap: 1em;
	}

	.filter {
		margin-top: 1em;
		width: 100%;
	}
}

table {
	margin-top: 2em;
	border-radius: 4px;
	width: 100%;
}

.site {
	display: flex;
	align-items: center;

	a {
		opacity: 0;
		margin-left: .25em;
		color: gray;
		transition: all 300ms;
	}
}

.mat-mdc-row {
	cursor: pointer;
	transition: all 300ms;

	&.disabled {
		opacity: .6;
	}

	&:hover {
		background-color: map-get($primary-colors, lighter);

		.site a {
			opacity: 1;
		}
	}

	.error {
		color: map-get($warn-colors, 500);
	}

	.unchanged {
		color: map-get($primary-colors, 500);
	}

	.changed {
		color: map-get($accent-colors, 500);
	}
}
