<div>
	<h1>
		@if (isNewSite) {
			Create a New Site
		} @else {
			Edit Site
		}
	</h1>

	<div>
		<form [formGroup]="createForm" (ngSubmit)="submit()">
			<mat-form-field>
				<mat-label>The website url to check for changes</mat-label>
				<input matInput placeholder="https://mywebsite.org" formControlName="url" required>
				<mat-hint>This should be an https url</mat-hint>
			</mat-form-field>

			<mat-form-field>
				<mat-label>A CSS selector to target an element for changes</mat-label>
				<input matInput formControlName="selector" placeholder="body > .content" />
				<button matIconButton matSuffix type="button" (click)="createForm.controls.selector.reset()">
					<mat-icon>close</mat-icon>
				</button>
			</mat-form-field>

			<div class="options">
				<h3>Options</h3>
				<mat-slide-toggle formControlName="enabled">Enabled for checking?</mat-slide-toggle>
			</div>
		</form>
	</div>

	<div class="buttons">
		<a mat-button type="button" routerLink="/list">Cancel</a>

		<button mat-flat-button color="primary" [disabled]="createForm.invalid || createForm.disabled" (click)="submit()">
			{{ isNewSite ? "Create" : "Save" }}
		</button>
	</div>
</div>

@if (!isNewSite) {
	<app-revision-list [revisions]="revisions"></app-revision-list>
}
