@if (!revision) {
	<p>Loading revision...</p>
} @else {
	<h1>Revision {{ revision.revisionID }}</h1>
	<div class="info">
		<div><b>Time</b>: {{ revision.time | date : "short" }}</div>
		<div><b>Site</b>: <a [routerLink]="['/', 'site', site.siteID]">{{ site.site }}</a> <a [href]="site.site"
		                                                                                      target="_blank"
		                                                                                      class="open-new">
			<mat-icon [inline]="true">open_in_new</mat-icon>
		</a>
		</div>
		<div><b>Final State</b>:
			<app-revision-state [state]="revision.siteState"></app-revision-state>
		</div>
	</div>

	<div class="info">
		<div><b>Download:</b></div>

		@if (urls.previousScreenshot) {
			<div>
				<a [href]="urls.previousScreenshot" download>Previous Screenshot</a>
			</div>
		}

		<div>
			<a [href]="urls.screenshot" download>Screenshot</a>
		</div>

		@if (urls.previousHtml) {
			<div>
				<a [href]="urls.previousHtml" download>Previous HTML</a>
			</div>
		}

		<div>
			<a [href]="urls.html" download>HTML</a>
		</div>
	</div>

	@if (revision.siteState == SiteRevisionState.Changed) {
		<div>
			<h3>AI Found the following differences:</h3>

			<ul>
				@for (difference of revision.differences; track difference) {
					<li>{{difference}}</li>
				}
			</ul>
		</div>
	}
}
