@import "theme";

mat-card {
	width: 1024px;
	max-width: 100vw;
}

mat-form-field {
	width: 100%;
	margin-bottom: 20px;
}

.options mat-slide-toggle {
	display: block;
	margin-bottom: 1em;

	//--mdc-switch-selected-track-color:
	//--mdc-switch-handle-surface-color: #ee6c4d;
	//
	//::ng-deep {
	//	--mdc-switch-handle-surface-color: #ee6c4d;
	//}
}
