<header class="mat-elevation-z5">
	<a mat-button routerLink="" class="logo">
		<div class="content">
			<img src="assets/favicon.svg" alt="The site logo"/> Website Alerter
		</div>
	</a>

	@if (isLoggedIn()) {
		<button matIconButton [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<a mat-menu-item routerLink="list" routerLinkActive="active">Sites</a> <a mat-menu-item routerLink="runs"
			                                                                          routerLinkActive="active">Runs</a>

			<button mat-menu-item (click)="onLogout()">Logout</button>
		</mat-menu>
	}
</header>
